<h1>Juego de diana</h1>
<canvas style="background-color: yellow" width="600" height="400"></canvas>
<script>
  const screenCanvas = document.querySelector("canvas");
  function drawCircles(x, y, radius, color) {
    if (screenCanvas.getContext) {
      const pencil = screenCanvas.getContext("2d");
      pencil.fillStyle = color;
      pencil.beginPath();
      pencil.arc(x, y, radius, 0, 2 * Math.PI);
      pencil.fill();
    }
  }
  const x = 0;
  function cleanScreen() {
    if (screenCanvas.getContext) {
      const pencil = screenCanvas.getContext("2d");
      pencil.clearRect(0, 0, 600, 400);
    }
  }
  const radios = 10;
  let xRandom;
  let yRandom;
  function drawDiana(x, y) {
    drawCircles(x, y, radios + 20, "red");
    drawCircles(x, y, radios + 10, "white");
    drawCircles(x, y, radios, "red");
  }

  function rafflePosition(maximo) {
    return Math.floor(Math.random() * maximo);
  }

  function updateScreen() {
    cleanScreen();
    xRandom = rafflePosition(600);
    yRandom = rafflePosition(400);
    drawDiana(xRandom, yRandom);
    x++;
  }
  setInterval(updateScreen, 1000);

  function shooting(event) {
    const x = event.pageX - screenCanvas.offsetLeft;
    const y = event.pageY - screenCanvas.offsetTop;
    if (
      x < xRandom + radios &&
      x > xRandom - radios &&
      y < yRandom + radios &&
      y > yRandom - radios
    ) {
      alert("Tiro certero");
    }
  }
  screenCanvas.onclick = shooting;
</script>
