<h1>diseñando una flor</h1>
<canvas width="600" height="600"></canvas>
<script>
  const screenCanvas = document.querySelector("canvas");
  function drawCircle(x, y, radius, color) {
    if (screenCanvas.getContext) {
      const pencil = screenCanvas.getContext("2d");

      pencil.fillStyle = color;
      pencil.beginPath();
      pencil.arc(x, y, radius, 0, 2 * Math.PI);
      pencil.fill();
    }
  }

  drawCircle(300, 200, 50, "red");
  drawCircle(200, 200, 50, "orange");
  drawCircle(400, 200, 50, "black");
  drawCircle(300, 100, 50, "yellow");
  drawCircle(300, 300, 50, "blue");
</script>
