<h1>Diseñando una escuadra</h1>
<canvas width="600" height="400"> </canvas>
<script>
  const screenCanvas = document.querySelector("canvas");
  if (screenCanvas.getContext) {
    const ctx = screenCanvas.getContext("2d");
    ctx.fillStyle = "black";
    ctx.beginPath();
    ctx.moveTo(50, 50);
    ctx.lineTo(50, 400);
    ctx.lineTo(400, 400);
    ctx.fill();

    ctx.fillStyle = "white";
    ctx.beginPath();
    ctx.moveTo(100, 175);
    ctx.lineTo(100, 350);
    ctx.lineTo(275, 350);
    ctx.fill();
  }

  square = screenCanvas.getContext("2d");
</script>
