<h1>Espacio de trabajo Canvas</h1>
<canvas width="600" height="400"></canvas>
<script>
  const screen = document.querySelector("canvas");
  const pencil = screen.getContext("2d");

  pencil.fillStyle = "white";
  pencil.fillRect(0, 0, screen.width, screen.height);

  pencil.fillStyle = "red";
  pencil.fillRect(0, 0, 200, screen.height);

  pencil.fillStyle = "red";
  pencil.fillRect(400, 0, 600, 400);

  pencil.fillStyle = "brown";
  pencil.beginPath();
  pencil.moveTo(300, 200);
  pencil.lineTo(200, 400);
  pencil.lineTo(400, 400);
  pencil.fill();

  pencil.fillStyle = "green";
  pencil.beginPath();
  pencil.arc(300, 200, 50, 0, 2 * 3.14);
  pencil.fill();
</script>
