<h1>grafico de barras</h1>
<canvas width="600" height="400"></canvas>
<script>
  const screen = document.querySelector("canvas");
  function drawRectangle(x, y, withR, heightR, color) {
    if (screen.getContext) {
      const pencil = screen.getContext("2d");
      pencil.fillStyle = color;
      pencil.fillRect(x, y, withR, heightR);
      pencil.strokeStyle = "black";
      pencil.strokeRect(x, y, withR, heightR);
    }
  }
  function writeText(x, y, text) {
    if (screen.getContext) {
      const pencil = screen.getContext("2d");
      pencil.font = "15px Verdana";
      pencil, (fillStyle = "black");
      pencil.fillText(text, x, y);
    }
  }
  const series2009 = [6, 47, 41, 3, 3];
  const series2019 = [81, 9, 3, 3, 4];
  const colorSeries = ["blue", "green", "yellow", "red", "gray"];

  function drawBar(x, y, series, color, text) {
    let sum = 0;
    for (let i = 0; i < series.length; i++) {
      console.log(x, y + sum, x, series[i], color[i]);
      drawRectangle(x, y + sum, x, series[i], color[i]);
      sum = sum + series[i];
    }

    writeText(x, y - 10, text);
  }
  drawBar(50, 50, series2009, colorSeries, "2009");
  drawBar(150, 50, series2019, colorSeries, "2019");
</script>
