<h1>color en la pantalla</h1>
<canvas id="canvas" width="600" height="400"></canvas>

<script>
  const screen = document.getElementById("canvas");

  screen.addEventListener("load", drawCircle);
  const colors = ["blue", "red", "green"];
  let indexColor = 0;
  function drawCircle() {
    const x = event.pageX - screen.offsetLeft;
    const y = event.pageY - screen.offsetTop;
    const pencil = screen.getContext("2d");

    pencil.fillStyle = colors[indexColor];
    pencil.beginPath();
    pencil.arc(x, y, 10, 0, 2 * Math.PI);
    pencil.fill();
  }
  screen.addEventListener("click", drawCircle);
  screen.addEventListener("contextmenu", alterColor);

  function alterColor() {
    indexColor++;
    if (indexColor > colors.length) {
      indexColor = 0;
    }
    return false;
  }
</script>
