<h1>Creeper de Minecraft</h1>
<canvas style="color: azure"> </canvas>

<script>
  const screenCanva = document.querySelector("canvas");
  const game = screenCanva.getContext("2d");
  window.addEventListener("load", startGame);
  window.addEventListener("resize", startGame);

  function startGame() {
    // donde inicia nuestro trazo, imagen, etc
    // game.fillRect(0, 0, 350, 300);
    // borrar
    //game.clearRect(0, 0, 300, 300);
    //fillText('letra',termina1,termina2)
    //font='25px verdana'
    // fillAlign='center'
    //fillStyle='color'
    if (window.innerHeight > Window.innerWidth) {
      let canvasSize;
      canvasSize = window.innerWidth * 0.8;
    } else {
      canvasSize = window.innerHeight * 0.8;
    }

    screenCanva.setAttribute("width", canvasSize);
    screenCanva.setAttribute("height", canvasSize);
    const elementSize = Math.round(canvasSize / 10);
    //cabeza
    game.fillStyle = "darkgreen";
    game.fillRect(0, 0, elementSize * 8, elementSize * 7);
    //ojos
    game.fillStyle = "black";
    game.fillRect(
      elementSize * 1,
      elementSize * 1,
      elementSize * 2,
      elementSize * 2
    );

    game.fillRect(
      elementSize * 5,
      elementSize * 1,
      elementSize * 2,
      elementSize * 2
    );
    //nariz
    game.fillRect(
      elementSize * 3,
      elementSize * 3,
      elementSize * 2,
      elementSize * 1
    );
    //boca
    game.fillRect(
      elementSize * 2,
      elementSize * 4,
      elementSize * 4,
      elementSize * 1
    );
    game.fillRect(
      elementSize * 2,
      elementSize * 5,
      elementSize * 1,
      elementSize * 2
    );
    game.fillRect(
      elementSize * 5,
      elementSize * 5,
      elementSize * 1,
      elementSize * 2
    );
  }
</script>
