<h1>animacion sencillo</h1>

<canvas style="background-color: yellow" width="600" height="400"></canvas>
<script>
  const screenCanvas = document.querySelector("canvas");
  function drawCircle(x, y, radius) {
    if (screenCanvas.getContext) {
      const pencil = screenCanvas.getContext("2d");

      pencil.fillStyle = "purple";
      pencil.beginPath();
      pencil.arc(x, y, radius, 0, 2 * Math.PI);
      pencil.fill();
    }
  }

  function cleanScreen() {
    if (screenCanvas.getContext) {
      const pencil = screenCanvas.getContext("2d");
      pencil.clearRect(0, 0, 600, 400);
    }
  }
  let x = 0;
  let sense = 1;
  function updateScreen() {
    cleanScreen();

    if (x > 600) {
      sense = -1;
    } else if (x < 0) {
      sense = 1;
    }
    drawCircle(x, 50, 10);
    x = x + sense;
  }
  setInterval(updateScreen, 0.5);
</script>
