<h1>dibujando cuadrados</h1>
<canvas width="400" height="600"></canvas>
<script>
  const screenCanvas = document.querySelector("canvas");
  function drawSquare(x, y, color) {
    if (screenCanvas.getContext) {
      const pencil = screenCanvas.getContext("2d");
      pencil.fillStyle = color;
      pencil.fillRect(x, y, 50, 50);
      pencil.strokeStyle = "black";
      pencil.strokeRect(x, y, 50, 50);
    }
  }
  let counter = 0;
  while (counter <= 600) {
    drawSquare(counter, 0, "red");
    drawSquare(counter, 50, "green");
    drawSquare(counter, 100, "yellow");
    counter = counter + 50;
  }
</script>
